*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box
}
body{
    background-color: #080808;
    color: #fff;
    width:100%;
}
/* .sai {
    text-decoration: none;
    display: flex; */
   


nav {
    display:flex;
   
}
.sai {
    width:60%;
    margin-top: 2%;
    margin-left:29%;
    display: flex;
    
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: red;
}
.vam {
    display: flex;
    margin-left: 60%;
    margin-top: -26%;
    /* border: 2px solid white; */
    width: 300px;
    height: 400px;

}
.teja {
    margin-top: 20%;
    font-size: 30px;
    margin-left: 15%;
    
    


}
.teja h1{
    font-size: 45px;
    margin-top: 20px;
}
.teja h1 span{
    color: red;
}
/* -----about------ */
#about{
    padding: 80px 0px;
    color: #ababab ;
   

}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 600px;
    margin-top: 20px;
}

.about-col-1 img{
    margin-left: 30px;
    width: 100%;

}